/*
 *
 * Yeniçeri Css
 *
 * @author Uğur KILCI
 * @version 1.0
 * @github ugurkilci
 * @twitter ugur2nd
 *
 * @web https://github.com/ugurkilci/yeniceri
 *
 */

body{
	margin: 0px;
	padding: 0px;
}

/* Düğmeler - Başla
   dgm = düğme
*/

.dgm{
	background-color: #ddd;
	color: #000;
	padding: 5px;
	border: 1px solid #aaa;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
}

/* Düğme Radius Değerleri */
.dgm-rad-50{
	border-radius: 50px;
}

.dgm-rad-10{
	border-radius: 10px;
}

.dgm-rad-5{
	border-radius: 5px;
}

.dgm-rad-0{
	border-radius: 0px;
}

/* Düğme Boyutları  */
.dgm-buyuk{
	padding: 10px;
}

.dgm-orta{
	padding: 5px;
}

.dgm-kucuk{
	padding: 1px;
}

.dgm-genis{
	width: 100%;
}

/* Kırmızı */
.dgm-kirmizi{
	background-color: #e84c3d;
	border: 1px solid #c1392d;
}

.dgm-kirmizi:hover{
	background-color: #d94335;
	border: 1px solid #c1392d;
}

.dgm-kirmizi:focus{
	background-color: #c1392d;
	border: 1px solid #c1392d;
}
/* Mavi */
.dgm-mavi{
	background-color: #3297db;
	border: 1px solid #297fb8;
}

.dgm-mavi:hover{
	background-color: #2f8bc9;
	border: 1px solid #297fb8;
}

.dgm-mavi:focus{
	background-color: #297fb8;
	border: 1px solid #297fb8;
}
/* Sarı */
.dgm-sari{
	background-color: #f1c50e;
	border: 1px solid #f39c11;
}

.dgm-sari:hover{
	background-color: #e1b80c;
	border: 1px solid #f39c11;
}

.dgm-sari:focus{
	background-color: #f39c11;
	border: 1px solid #f39c11;
}
/* Yeşil */
.dgm-yesil{
	background-color: #2dcc70;
	border: 1px solid #27ae61;
}

.dgm-yesil:hover{
	background-color: #2bbc68;
	border: 1px solid #27ae61;
}

.dgm-yesil:focus{
	background-color: #27ae61;
	border: 1px solid #27ae61;
}
/* Mor */
.dgm-mor{
	background-color: #9a59b5;
	border: 1px solid #8d44ad;
}

.dgm-mor:hover{
	background-color: #8d51a6;
	border: 1px solid #8d44ad;
}

.dgm-mor:focus{
	background-color: #8d44ad;
	border: 1px solid #8d44ad;
}
/* Turuncu */
.dgm-turuncu{
	background-color: #e77e22;
	border: 1px solid #d25400;
}

.dgm-turuncu:hover{
	background-color: #d8761f;
	border: 1px solid #d25400;
}

.dgm-turuncu:focus{
	background-color: #d25400;
	border: 1px solid #d25400;
}
/* Gri */
.dgm-gri{
	background-color: #93a5a5;
	border: 1px solid #7e8c8d;
}

.dgm-gri:hover{
	background-color: #889797;
	border: 1px solid #7e8c8d;
}

.dgm-gri:focus{
	background-color: #7e8c8d;
	border: 1px solid #7e8c8d;
}
/* Siyah */
.dgm-siyah{
	background-color: #34495e;
	border: 1px solid #1c2732;
	color: #fff;
}

.dgm-siyah:hover{
	background-color: #2d3e50;
	border: 1px solid #1c2732;
}

.dgm-siyah:focus{
	background-color: #1c2732;
	border: 1px solid #1c2732;
}
/* Beyaz */
.dgm-beyaz{
	background-color: #ecf0f1;
	border: 1px solid #bec3c7;
}

.dgm-beyaz:hover{
	background-color: #e0e4e5;
	border: 1px solid #bec3c7;
}

.dgm-beyaz:focus{
	background-color: #bec3c7;
	border: 1px solid #bec3c7;
}
/* Düğmeler - Bitiş */

/* Yazı Renkleri - Başla */
.yazi-beyaz{
	color: #fff;
}

.yazi-siyah{
	color: #000;
}

.yazi-gri{
	color: #7e8c8d;
}

.yazi-kirmizi{
	color: #e84c3d;
}

.yazi-mavi{
	color: #3297db;
}

.yazi-sari{
	color: #f1c50e;
}

.yazi-yesil{
	color: #2dcc70;
}

.yazi-mor{
	color: #9a59b5;
}

.yazi-turuncu{
	color: #e77e22;
}
/* Yazı Renkleri - Bitiş */

/* Arkaplan Renkleri - Başla */
._beyaz{
	background-color: #fff;
}

._siyah{
	background-color: #000;
}

._gri{
	background-color: #7e8c8d;
}

._kirmizi{
	background-color: #e84c3d;
}

._mavi{
	background-color: #3297db;
}

._sari{
	background-color: #f1c50e;
}

._yesil{
	background-color: #2dcc70;
}

._mor{
	background-color: #9a59b5;
}

._turuncu{
	background-color: #e77e22;
}
/* Arkaplan Renkleri - Bitiş */

/* Cursor Tipleri - Başla */
.cur-alias{ cursor: alias; }
.cur-all-scroll{ cursor: all-scroll; }
.cur-auto{ cursor: auto; }
.cur-cell{ cursor: cell; }
.cur-context-menu{ cursor: context-menu; }
.cur-col-resize{ cursor: col-resize; }
.cur-copy{ cursor: copy; }
.cur-crosshair{ cursor: crosshair; }
.cur-e-resize{ cursor: e-resize; }
.cur-ew-resize{ cursor: ew-resize; }
.cur-grab{ cursor: grab; }
.cur-grabbing{ cursor: grabbing; }
.cur-help{ cursor: help; }
.cur-move{ cursor: move; }
.cur-n-resize{ cursor: n-resize; }
.cur-ne-resize{ cursor: ne-resize; }
.cur-nesw-resize{ cursor: nesw-resize; }
.cur-ns-resize{ cursor: ns-resize; }
.cur-nw-resize{ cursor: nw-resize; }
.cur-nwse-resize{ cursor: nwse-resize; }
.cur-no-drop{ cursor: no-drop; }
.cur-none{ cursor: none; }
.cur-not-allowed{ cursor: not-allowed; }
.cur-pointer{ cursor: pointer; }
.cur-progress{ cursor: progress; }
.cur-row-resize{ cursor: row-resize; }
.cur-s-resize{ cursor: s-resize; }
.cur-se-resize{ cursor: se-resize; }
.cur-sw-resize{ cursor: sw-resize; }
.cur-text{ cursor: text; }
.cur-vertical-text{ cursor: vertical-text; }
.cur-w-resize{ cursor: w-resize; }
.cur-wait{ cursor: wait; }
.cur-zoom-in{ cursor: zoom-in; }
.cur-zoom-out{ cursor: zoom-out; }
.cur-initial{ cursor: initial; }
/* Cursor Tipleri - Bitiş */

/* Sosyal Ağlar - Başla */
._blogger{ background-color: #F87F14; }
._codepen{ background-color: #1B1C1B; }
._dribbble{ background-color: #EC4A89; }
._facebook{ background-color: #3B5998; }
._flickr{ background-color: #FF0084; }
._foursquare{ background-color: #F94877; }
._github{ background-color: #323131; }
._google{  background-color: #DC483B; }
._instagram{ background-color: #4E433C; }
._linkedin{ background-color: #007AB5; }
._periscope{ background-color: #30A4C6; }
._pinterest{ background-color: #CB2027; }
._scorp{ background-color: #DE2228; }
._snapchat{ background-color: #FFFC01; }
._skype{ background-color: #00ADED; }
._swarm{ background-color: #FFA633; }
._tumblr{ background-color: #2C4762; }
._twitter{ background-color: #5EA9DD; }
._vine{ background-color: #000; }
._ovine{ background-color: #00B489; }
._vimeo{ background-color: #1AB7EA; }
._wordpress{ background-color: #00749A; }
._youtube{ background-color: #EE1C1B; }
/* Sosyal Ağlar - Bitiş */

/* Resim Filtreleri - Başla */
._blur{ -webkit-filter: blur(5px); filter: blur(5px); }
._brightness{ -webkit-filter: brightness(250%); filter: brightness(250%); }
._contrast{ -webkit-filter: contrast(180%); filter: contrast(180%); }
._grayscale{ -webkit-filter: grayscale(100%); filter: grayscale(100%); }
._huerotate{ -webkit-filter: hue-rotate(180deg); filter: hue-rotate(180deg); }
._invert{ -webkit-filter: invert(100%); filter: invert(100%); }
._opacity{ -webkit-filter: opacity(50%); filter: opacity(50%); }
._saturate{ -webkit-filter: saturate(10); filter: saturate(10); }
._sepia{ -webkit-filter: sepia(100%); filter: sepia(100%); }
._shadow{ -webkit-filter: drop-shadow(5px 5px 10px #000); filter: drop-shadow(5px 5px 10px #000); }
/* Resim Filtreleri - Bitiş */

/* Animasyonlar - Başla */
.ani-don-sag{
    -webkit-animation-name: ani-don-sag; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: ani-don-sag;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes ani-don-sag {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
}
/* Standard syntax */
@keyframes ani-don-sag {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
}
.ani-don-sol{
    -webkit-animation-name: ani-don-sol; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: ani-don-sol;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes ani-don-sol {
	0% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
}
/* Standard syntax */
@keyframes ani-don-sol {
	0% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
}
/* Animasyonlar - Bitiş */

/* Antinguntin - Başla */
.padd{
	padding: 5px;
}

.marg{
	margin: 5px;
}

.disb{
	display: block;
}

.disib{
	display: inline-block;
}
/* Antinguntin - Bitiş */
